.DS_Store
.~lock*
*.swp
*.gfs

*.halex.json

# Gradle
.gradle/
gradle.properties
/build/

transformiert/

# local HALE archive/folder
HALE-*/
HALE-*.zip
HALE-*.tar.gz
workspace/

# derived projects
*-DLKM.halex
*-DLKM.halex.alignment.xml
*-Basis-DLM.halex
*-Basis-DLM.halex.alignment.xml
*-DLM50.halex
*-DLM50.halex.alignment.xml
*-DLM250.halex
*-DLM250.halex.alignment.xml
*-DLM1000.halex
*-DLM1000.halex.alignment.xml
