# Transformation definitions
#transformationsFile=transformations.json
# Path to HALE executable
haleExecutable=HALE-2.9.5.SNAPSHOT-linux.gtk.x86_64/HALE
# Custom default source data folder
#defaultSourceFolder=quelldaten
# Custom default source folder per model
#defaultSourceFolder_DLKM=quelldaten/DLKM
#defaultSourceFolder_Basis-DLM=quelldaten/Basis-DLM
#defaultSourceFolder_DLM50=quelldaten/DLM50
#defaultSourceFolder_DLM250=quelldaten/DLM250
#defaultSourceFolder_DLM1000=quelldaten/DLM1000
# Maximum heap size for transformation in MB
haleMaxHeapSize=2048
# Proxy configuration
#systemProp.http.proxyHost=www.somehost.org
#systemProp.http.proxyPort=8080
#systemProp.http.proxyUser=userid
#systemProp.http.proxyPassword=password
#systemProp.http.nonProxyHosts=*.nonproxyrepos.com|localhost
#systemProp.https.proxyHost=www.somehost.org
#systemProp.https.proxyPort=8080
#systemProp.https.proxyUser=userid
#systemProp.https.proxyPassword=password
#systemProp.https.nonProxyHosts=*.nonproxyrepos.com|localhost
